*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 8px;
}

p {
    margin: 0 0 8px;
}

.form-holder {
    max-width: 793px;
    margin: 0 auto;
}

.form-title-holder {
    background-color: #4A4F56;
    padding: 19px 15px 12px;
    text-align: center;

}

.form-title {
    font-size: 24px;
    line-height: 28px; 
    color:#FF8984;
    margin: 0 0 4px;
}

.form-psevdotitle {
    color: #FF8984;
    font-size: 16px;
    line-height: 19px;   
    
}

.form-shopping-list {
    background-color:#3B3F45;
    padding: 20px 15px 45px;
}

.btn {
    color: #FF8984;
    padding: 12px 15px;
    max-width: 534px;
    display: block;
    margin: 0 auto;
    line-height: 21px;
    background-color: #4A4F56;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.btn:hover {
    color: aquamarine;
}

.shopping-list {
    list-style-type: none; 
    color: #FFFFFF;
    text-align: left;
    margin: 0 auto 45px;
    padding: 0;
    max-width: 534px;
}

.shopping-item {
    padding: 12px;
    font-size: 18px;
    line-height: 21px;
    transition: all ease-in-out 0.3s;
}

.shopping-item:nth-child(odd) {
    background-color: #88839E;
    border-top: 3px solid #88839E;
    border-bottom: 3px solid #88839E;
} 

.shopping-item:nth-child(even) {
    background-color: #7A7593;
    border-top: 3px solid #7A7593;
    border-bottom: 3px solid #7A7593;
}

.shopping-item:hover {
    background-color: #625E77;
    border-color: #FFFFFF;    
}

.input-checkbox {
    display: none;
}

.input-checkbox:checked + .psevdo-checkbox{
    color: #9B96AC;
    text-decoration: line-through;
}

.shopping-item:active {
    background-color: #FF8984
}

.input-checkbox:checked + .psevdo-checkbox:before {
    color: #000;
}

.psevdo-checkbox::before {
    content: '\2714';
    width: 19px;
    height: 19px;
    background-color: #FFFFFF;
    display: inline-block;
    margin-right: 16px;
    transition: color ease-in-out 0.5s;
    color: #FFFFFF;
    text-align: center;
    font-size: 13px;
}
    
.psevdo-checkbox {
    transition: all ease-in-out 0.3s;
}


.psevdo-checkbox span {
    font-size: 11px;
    line-height: 13px;
}

span::before {
    content: '(';
}

span::after {
    content: ')';
}


